<div style="height: 550px;">
    <center><h3>Ng-Repeat</h3>
    </center>
    <div layout="row">
        <div flex="50" style="border-right: 1px solid #dedede;margin:18px;height: 511px;overflow: auto;">
            <div layout="column" style="margin: 18px;">
                <div layout="row">
                    <md-input-container flex="50">
                        <label>Athlete</label>
                        <md-select ng-model="phones.athlete">
                            <md-option ng-repeat="phone in phonesmob" value="{{phone.athlete}}">
                                {{phone.athlete}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <div flex="5"></div>
                    <!--  <md-input-container ng-if="!phones.name" flex="50">
                        <label>Name</label>
                        <input ng-model="phones.name">
                    </md-input-container> -->
                </div>
                <div layout="row">
                    <md-input-container flex="50">
                        <label>Country</label>
                        <md-select ng-model="phones.country">
                            <md-option ng-repeat="phone in phonesmob" value="{{phone.country}}">
                                {{phone.country}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <div flex="5"></div>
                    <!--  <md-input-container ng-if="!phones.snippet" flex="50">
                        <label>snippet</label>
                        <input ng-model="phones.snippet">
                    </md-input-container> -->
                </div>
            </div>
            <md-button class="md-raised md-primary" ng-click="addItem(phones)" style="height: 34px;" ng-disabled="!phones.snippet">Add</md-button>
            <div>
                <ul>
                    <li ng-repeat="phone in phonesmob" ng-mouseover="open = true" ng-mouseleave="open = false">
                        <span>{{phone.athlete}}</span>
                        <span class="btn btn-primary" type="button" ng-show="open" ng-click="removeItem($index,1)" style="cursor: pointer;">
             <i class="material-icons" style="font-size: 17px; line-height: 0" tooltip="Delete">
delete
</i>
</span>
                        <span class="btn btn-primary" type="button" ng-show="open" ng-click="editItem($index,1)" style="cursor: pointer;">
             <i class="material-icons" style="font-size: 17x; line-height: 0" tooltip="Edit">
edit
</i>
</span>
                        <p>{{phone.country}}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>