<style>
label,i{
      color: #283593;
}
</style>
<!-- <div layout="row">
    <div flex="20">
        <md-content layout-margin style="max-height:570px;" class="text-decoration" >
            <md-list flex>
            
                </md-list-item>
                <md-list-item ng-click="map();">
                    <i class="material-icons" style="width: 20%;">maps</i>
                    <span flex style="padding-top: 3px;">
            <label >Maps</label>
            
          </span>
                </md-list-item>
                <md-list-item ng-click="canvas();">
                    <i class="material-icons" style="width: 20%;">face</i>
                    <span flex style="padding-top: 3px;">
            <label >Canvas</label>
          </span>
          </md-list-item>
          <md-list-item ng-click="grid();">
                    <i class="material-icons" style="width: 20%;">view_module</i>
                    <span flex style="padding-top: 3px;">
            <label >Grid</label>
          </span>
          </md-list-item>
            </md-list>
        </md-content>
    </div> -->
    <div flex style="width: 100%; height:600px;" ag-grid="gridOptions" class="ag-theme-material">
    </div>
</div>